@charset "utf-8";

nav#navTop{
      width: 800px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
    ul#topmenu{
      display: table;
      width: 90%;
      margin: 20px auto;
      border: 2px solid #fff;
    }

    nav#navTop li{
      display: table-cell;
      /*background-color: #77b193;*/
    }
    
    nav#navTop li:first-child{border-left: none;}
    nav#navTop li:hover a{background-color: #fff; color: #000;}
    nav#navTop li.active a{background-color: #fff; color: #000;}
    nav#navTop li a{
      display: block;
      line-height: 40px;
      text-align: center;
      padding: 0 5px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }

    #fullpage{} 
    #page1{background-image: url(../images/mainmain.jpg); position: relative;}
    #page2{background-image: url(../images/mainmain22.jpg); padding-right: ;}
    #page3{background-image: url(../images/mainmain22.jpg); margin: 0 auto;}
    #page4{background-image: url(../images/ly-background.jpg);}
    #page5{background-image: url(../images/mainmain4.jpg);}

    .ghed{
      width: 300px; height: 80px; background-color: #10435b; position: absolute; bottom: 50px;
      left: 50%; transform: translateX(-50%);
    }
    .ghed>a{color: #fff; font-size: 30px; font-weight: bold; text-align: center; line-height: 80px; padding-left: 90px;} 

    .page{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    #navTop .active{background-color: salmon;}

    #fp-nav ul li, .fp-slidesNav ul li{display: none;}

    #gallery{width: 400px; height: 400px; margin: 20px auto;}
    #img{width: 300px; height: 300px; margin: 0 auto; margin-bottom: 20px;}       
    #img p{display:none; cursor: pointer;}
    #img p:first-child{display: block;}

    #thumbnail{width: 400px; height: 100px; margin: 0 auto;}
    #thumbnail div{float: left;}
    #thumbnail div.left{width: 20px; margin-top: 35px; cursor: pointer;}
    #thumbnail div.right{width: 15px; margin-top: 35px; margin-left: 10px; cursor: pointer;}
    #thumbnail .container{width: 540px; height: 100px; position: relative; overflow: hidden;}
    #thumbnail .container ul{width: 1080px; position: absolute;}
    #thumbnail .container ul>li{float: left; width: 100px; height: 100px; margin-left: 10px; cursor: pointer;}                       
   
    .ml0{margin-left: 0 !important;}
    
    .iframe{width: 960px; height: 540px; margin: 0 auto;}

    .swiper-container {
      width: 100%;
      padding-top: 80px;
      padding-bottom: 50px;
    }
    .swiper-slide{
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 400px;
    }
    .swiperimg{width: 400px; height: 400px;}

    .djimwrapper{
      width: 1600px; height: 400px; position: absolute; top: 150px; left: 50%; transform: translateX(-50%);
    } 
    .djimwrap>li{
      float: left; width: 400px; height: 400px;
      
    }
    .djimwrap>li:hover{filter: drop-shadow(5px 5px 5px #333); transform:translate(-30px,-30px);}

    .djim{display: block; width: 400px; height: 400px;}
    
    .videoclip{width: 1200px; height: 6000px; margin: 0 auto; margin-top: 50px;}

    .brgg{width: 1200px; height: 600px; display: block;}     

    .bx-wrapper {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      background: none;
    }
    
    .family>li{float: left; width: 300px; height: 80px; background-color: #000; margin-left: 80px; margin-top: 100px; padding-left: 75px;}
    .family>li>a{width: 100%; height: 100%;color: #fff; font-size: 20px; line-height: 80px;}